.tarjeta-boletin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
    padding:20px;
    text-align: left;
    font-size: 20px;
}

.tarjeta-boletin > h3{
    color: rgb(111, 43, 113);
    text-align: center;
    font-size: 35px;

}

.tarjeta-boletin .salmo{
    text-align: justify;
    font-style: italic;
    width: 100%;
    font-size: 16px;
}

.tarjeta-boletin .salmo h3{
    text-align: center;
}

.tarjeta-boletin img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.himnario-online{
    /* border: 1px solid blue; */
    width: 150px;
    margin:auto;
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}

.himnario-online a{
    text-decoration: none;
    color:blue;
}

@media screen and (min-width: 700px){

    .tarjeta-boletin{
        font-size: 33px;
        gap:30px;
        padding:50px;
    }

    .tarjeta-boletin h2{
        font-size: 48px;
    }

    .tarjeta-boletin .salmo{
        font-size: 20px;
    }

}
    







