.boletin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:25px;
    padding-top: 30px;
    font-size: 19px;
    margin:auto;
}

.boletin h1{
    font-size: 27px;
    padding-left: 22px;
}

.boletin .salmo{
    text-align: center;
    font-size: 12px;
    font-style: italic;
    width: 100%;
}

.boletin .salmo h3{
    text-align: center;
}

.boletin img{
    width: 100%;
    height: auto;
}
.ofrendas h3{
    text-align: center;
    color: rgb(111, 43, 113);
    padding-top: 30px;
}
.ofrendas p{
    text-align: center;
    color: rgb(111, 43, 113);
}

.ofrendas .sobre{
    padding:30px;
    text-align: left;
}

.aGiving{
    background-color: rgb(185, 71, 71);
    border: 2px solid white;
    width: 60%;
    margin:auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 40px;
}

h4{
    text-align: center;
    color:rgb(74, 60, 155);
    margin-bottom: 30px;
}

.explicaciongiving{
    padding:20px;
    padding-bottom: 30px;
    text-align: left;
}

/* AQUI COMIENZA LA REPETICION DEL CODIGO 2 */

@media screen and (min-width: 600px){
    
    .boletin{
        font-size: 28px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap:25px;
        padding-left: 50px;
        padding-top: 50px;
    }

    .boletin h1{
        font-size: 40px;
        padding-left: 45px;
    }

    .boletin .salmo{
        font-size: 17px;
        font-style: italic;
        width: 99%;
    }
    
    .boletin .salmo h3{
        padding-right: 40px;
        font-family: sans-serif;
    }
    
    .boletin img{
        width: 100%;
        height: auto;
    }
    .ofrendas h3{
        text-align: center;
        color: rgb(111, 43, 113);
        padding-top: 30px;
    }
    .ofrendas p{
        text-align: center;
        color: rgb(111, 43, 113);
    }

    .ofrendas .sobre{
        padding-bottom: 30px;
        text-align: left;
        font-size: 20px;
    }

    .aGiving{
        background-color: rgb(185, 71, 71);
        border: 2px solid white;
        width: 40%;
        margin:auto;
        border-radius: 10px;
        color: blue;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        margin-bottom: 50px;
    }

    h4{
        text-align: center;
        color:rgb(74, 60, 155);
    }

    .explicaciongiving{
        text-align: left;
        font-size: 20px;
    }
    
}
    
