.tarjeta-boletin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
    text-align: left;
    font-size: 20px;
}

.tarjeta-boletin h2{
    font-size: 33px;
}

.tarjeta-boletin .salmo{
    text-align: center;
    font-style: italic;
    width: 100%;
    font-size: 12px;
}

.tarjeta-boletin .salmo h3{
    text-align: center;
}

.tarjeta-boletin img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Sobre ofrendas EXPLICACION */

.tarjeta-sobre{
    font-size: 19px;
}

.boton-aGiving{
    background-color: rgb(185, 71, 71);
    border: 2px solid white;
    width: 60%;
    margin:auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.tarjeta-explicaciongiving{
    font-size: 19px;
}

/* AQUI COMIENZA LA REPETICION DEL CODIGO 2 */

@media screen and (min-width: 600px){

    .tarjeta-boletin{
        font-size: 33px;
        gap:30px;
    }

    .tarjeta-boletin h2{
        font-size: 48px;
    }

    .tarjeta-boletin .salmo{
        font-size: 20px;
    }

    .tarjeta-sobre{
        font-size: 25px;
    }

    .boton-aGiving{
       width: 40%;
    }

    .tarjeta-explicaciongiving{
        font-size:25px;
    }
}
    







