.tarjeta-nota{
    text-align: center;
    font-size: 19px;
    font-family: 'Oswald', sans-serif;
}

img{
    border-radius: 50%;
    width: 80px;
}
 .tarjeta-contacto{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 19px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.tarjeta-contacto h4{
    font-weight:bold;
}
 .contacto h5{
    color:rgb(186, 55, 55);
}

.fotografias{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fotografias img{
    width: 100%;
    height:auto;
    border-radius: 8px;
}

/* AQUI COMIENZA LA REPETICION DEL CODIGO 2 */

@media screen and (min-width: 700px){
    
    .tarjeta-contacto{
        font-size: 30px;
        font-family: sans-serif;
    }

    img{
        width: 110px;
    }
    
}

