.tarjeta-calendario{
    font-size: 18px;
    text-align: left;
}

.tarjeta-calendario h2{
    font-size: 22px;
}

.tarjeta-calendario h4{
    text-align: center;
}

.side-division .tarjeta-calendario .caja-fe{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.tarjeta-calendario .link-fe-jesus{
    border: 1px solid blue;
    width: 100px;
    border-radius: 8px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
}

.link-fe-jesus a{
    color:blue;
    font-size: 14px;
    text-decoration: none;
}

.link-doctrinas{
    margin:auto;
    width:200px;
    display:flex;
    justify-content: center;
}

.link-doctrinas a{
    border: 1px solid blue;
    color:blue;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

/* AQUI COMIENZA LA REPETICION DEL CODIGO 2 */

@media screen and (min-width: 700px){
    
    .tarjeta-calendario{
        font-size: 28px;
    }

    .tarjeta-calendario h2{
        font-size: 30px;
    }

}