
 .side .eventos{
    padding-top:40px;
    text-align: center;
}

.eventos img{
     width: 100%;
     height:auto;
     border-radius: 8px;
}

.imagenes{
    padding:12px;
    text-align: left;
}

.imagenes h2{
    font-size: 27px;
    text-align: center;
    margin-top: 15px;
}

.imagenes .recuerdos{
    font-size: 20px;
}

.imagenes .recuerdos h3{
    text-align: center;
    color: rgb(111, 43, 113);
    font-size: 18px;
}

/* AQUI COMIENZA LA REPETICION DEL CODIGO 2 */

@media screen and (min-width: 600px){

    .side .eventos{
        padding:20px;
        padding-top:60px;
        font-size: 22px;
        text-align: center;
    }

    .eventos img{
        width: 100%;
         height:auto;
         border-radius: 8px;
    }
    
    .imagenes{
        padding:45px;
        padding-bottom: 40px;
        text-align: left;
        font-size: 20px;
    }

    .imagenes h2{
        font-size: 33px;
        text-align: center;
        margin-top: 15px;
    }

    .imagenes .recuerdos{
        font-size: 30px;
    }

}