
 .tarjeta-eventos{
    font-family: 'Oswald', sans-serif;
    padding-top:40px;
    text-align: center;
}
.tarjeta-eventos h3{
    color: rgb(111, 43, 113);
    font-size: 25px;
}

.tarjeta-eventos img{
     width: 100%;
     height:auto;
     border-radius: 8px;
}

.cumpleanos{
    display:flex;
    justify-content: center;
    align-items: center;
}
.cumpleanos img{
    width: 200px;
}

/* Comienza main division */

.main-division{
    text-align: left;
}

.main-division h2{
    margin-top: 15px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
}

.main-division .tarjeta-recuerdos{
    font-size: 22px;
}

.main-division .tarjeta-recuerdos h3{
    text-align: center;
    color: rgb(111, 43, 113);
    font-size: 22px;
}

/* AQUI COMIENZA LA REPETICION DEL CODIGO 2 */

@media screen and (min-width: 700px){

    .side-division .tarjeta-eventos{
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
    }

    .side-division .tarjeta-eventos h3{
        font-size: 35px;
    }

    .main-division{
        font-size: 30px;
    }

    .main-division h2{
        font-size: 33px;
    }

    .main-division .tarjeta-recuerdos h3{
        font-size: 30px;
    }

    .main-division .tarjeta-recuerdos{
        font-size: 30px;
    }
}