.albun-familia{
    width: 100%;
    height: auto;
    display:flex;
    justify-content: space-between; 
    gap:5px;
}

/* .albun-familia img{
    width: 100%;
    padding:5px;
} */

.tamano-foto{
    width: 800px;
}


.albun-persona{
    width: 100%;
    height: auto;
    gap:5px;
    display:flex;
    justify-content: space-around; 
}


