 *{
     margin: 0;
     padding: 0;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 body{
     min-height: 1000px;
     height: 2000px;
 }

 .container{
     background-color: rgb(227, 202, 174);
     width: 390px;
     height: auto;
     margin:auto;
     font-family: 'Oswald', sans-serif;
 }

 /* Este hace la linea blanca divisisoria de item */
 .item-limite{
     border: 0.2px solid rgb(220, 219, 219);
 }

/* HEADER INICIO */

.encabezado{
    position:fixed;
    width:390px; 
}

 .header{
     background-color: rgb(69, 11, 11);
     height: 90px;
     display:flex;
     justify-content: space-between;
     align-items: center;
     padding: 25px;
 }

 .header .logo img{
     width: 70px;
     border-radius: 50%;
 }

 .nombre{
    color:white;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
 }

 titulo{
    font-size: 21px;
    text-align: center;
 }
 
 direccion{
     font-size: 16px;
     text-align: center;
 }

 .navegacion{
     width:390px;
     margin: auto;
     background-color: rgb(104, 29, 29);
 }

 .navegacion ul{
     list-style: none;
 }

 .menu{
     display:flex;
     justify-content: space-around;
 }

 .menu > li{
     position:relative;
     display: inline-block;
     width: 20%;
 }

 .menu > li > a{
     display: block;
     padding:6px 12px;
     color:white;
    text-decoration: none;
 }

 .menu li a:hover{
    color:rgb(104, 29, 29);
    transition: all .3s ease;
 }

.submenu{
    position: absolute;
    background-color: rgb(104, 29, 29);
    width: 100%;
    display: none;
}

.menu li:hover{
    background-color: rgb(227, 202, 174);
    border: 1px solid rgb(104, 20, 20);
    transition: all .3s ease;
}

.submenu li a{
    display: block;
    text-decoration: none;
    padding:8px;
    color:white;
    font-size: 14px;
}

.menu li:hover .submenu{
    display: visible;
    display: block;
    transition: all .3s ease;
}

.fondo-blanco{
    background: white;
    color:rgb(45, 45, 92);
    width: 95%;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:20px;
    padding-top:10px;
    border-radius: 13px;
    font-family: sans-serif;
}

/* Comienza side con cultos dentro */

.side-division{
    height:auto;
    padding-top: 160px;
    font-family: 'Oswald', sans-serif;
}

 .side-division h2{
     text-align: center;
     color: rgb(111, 43, 113);
     padding-top: 20px;
     font-family: 'Oswald', sans-serif;
     font-size: 30px;
}

 .side-division p{
    color: rgb(147, 68, 150);
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

 .tarjeta-cultos{
     display:flex;
     flex-direction: column;
     justify-content: space-between;
     gap:20px;
     font-size: 22px;
     text-align: center;
}

.tarjeta-cultos a{
    background-color: white;
    border: 1px solid blue;
    color:blue;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
}

.tarjeta-cultos .aidelyn{
    background-color: white;
    border: 1px solid rgb(195, 195, 159);
    border-radius: 10px;
    margin: auto;
    padding: 7px;
    width: auto;
    font-size: 20px;
}

.botones-juntos{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.tarjeta-cultos img{
     width: 95%;
     height:auto;
     margin:auto;
     border-radius: 8px;
}

.barcode img{
    width: 150px;
}

/* MAIN INICIO */
 .main-division{
     color: rgb(111, 43, 113);
     min-height: 400px;
     height:auto;
     margin:auto;
 }

 .main-division h2{
     padding-top: 30px;
     padding-bottom: 30px;
     text-align: center;
 }

 .main-division h3{
     padding-top: 30px;
     text-align: center;
 }

 .main-division h4{
     text-align: center;
 }

 .main-division p{
     padding-bottom: 20px;
     text-align: center;
     font-size: 23px;
 }

 .main-division .tarjeta-fotos{
     margin-bottom: 15px;
     display:flex;
     flex-direction: column;
     justify-content: space-between;
     gap: 10px;
 }

 .main-division .tarjeta-fotos img{
     width: 95%;
     margin:auto;
     height:auto;
     border-radius: 8px;
 }
 
 /* FOOTER INICIO */
 .footer-division{
    background-color: rgb(104, 29, 29);
     padding: 10px;
     height:auto;
     text-align: center;
     color:rgb(252, 252, 254);
     font-family: sans-serif;
     font-size: 10px;
    }

    .footer-division .flex-footer{
        padding:3px;
        font-size: 8px;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-division .flex-footer .logo-footer img{
        border-radius:50%;
        width: 40px;
    }

    .contador a{
        color:white;
        text-decoration: none;
    }

 /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

 @media screen and (min-width: 700px){
    .container{
        width: 700px;
    }
   
   /* HEADER INICIO */

   .encabezado{
        width:700px; 
    }


    .header{
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding: 25px;
    }

    .nombre{
       font-size: 30px;
       display:flex;
       flex-direction: column;
    }
    titulo{
       font-size: 28px;
    }
    direccion{
        font-size: 18px;
    }

    .navegacion{
        width: 700px;
    }

    .menu > li{
        width: 20%;
        font-size: 20px;
    }

    .menu li:hover{
        transition: all .3s ease;
        font-size: 20px;
    }

    .submenu li a{
        font-size: 18px;
    }



   /* SIDE INICIO */

    .tarjeta-cultos{
       font-size: 22px;
   }

   .tarjeta-cultos img{
       width: 90%;
       margin:auto;
   }

   .side-division p{
       font-size: 25px;
   }

   .side-division h2{
        font-size: 35px;
   }

   /* MAIN INICIO */
    
   .main-division{
       width: 700px;
   }

    .main-division .tarjeta-fotos{
        gap:16px;
    }

    .barcode img{
        width: 230px;
    }


    .footer-division .flex-footer{
        padding:10px;
        font-size: 14px;
        justify-content: space-around;
    }

    .footer-division .flex-footer .logo-footer img{
        border-radius: 50%;
        width: 80px;
    }
   
 }