 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body{
     min-height: 1000px;
     height: 2000px;
 }

 .container{
     background-color: rgb(227, 202, 174);
     width: 390px;
     height: auto;
     margin:auto;
     font-family: 'Oswald', sans-serif;
 }

 /* Este hace la linea blanca divisisoria de item */
 .item-limite{
     border: 0.2px solid rgb(220, 219, 219);
 }

/* HEADER INICIO */

.encabezado{
    position:fixed;
    width:390px; 
}

 .header{
     background-color: rgb(69, 11, 11);
     height: 90px;
     display:flex;
     justify-content: space-between;
     align-items: center;
     padding: 25px;
 }
 .header .logo img{
     width: 70px;
     border-radius: 50%;
 }
 .nombre{
    color:white;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
 }
 titulo{
    font-size: 21px;
    text-align: center;
 }
 direccion{
     font-size: 16px;
     text-align: center;
 }

 .navbar{
     background-color: rgb(104, 29, 29);
     height: 50px;
 }

 ul{
     display:flex;
     justify-content: space-around;
     padding-top: 12px;
     list-style: none;
 }

 a{
     color:white;
     text-decoration: none;
 }

 /* .navbar ul li a:hover{
    color:rgb(25, 111, 192);
    font-size: 18px;
    transition: 0.5s ease;
    text-transform: uppercase;
} */
/* Termina Header y Navbar con encabezado */


.fondo-blanco{
    background-color: white;
    color:rgb(45, 45, 92);
    width: 95%;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:20px;
    border-radius: 13px;
    font-family: sans-serif;
}

/* Comienza side con cultos dentro */

.side-division{
    height:auto;
    padding-top: 160px;
    font-family: 'Oswald', sans-serif;
}

 .side-division h2{
     text-align: center;
     color: rgb(111, 43, 113);
     padding-top: 20px;
     font-family: 'Oswald', sans-serif;
     font-size: 30px;
}

 .side-division p{
    color: rgb(147, 68, 150);
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

 .tarjeta-cultos{
     display:flex;
     flex-direction: column;
     justify-content: space-between;
     gap:20px;
     font-size: 22px;
     text-align: center;
}

.tarjeta-cultos a{
    background-color: red;
    border: 2px solid black;
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
}

.tarjeta-cultos .aidelyn{
    background-color: beige;
    border: 1px solid red;
    border-radius: 10px;
    margin: auto;
    padding: 7px;
    width: auto;
    font-size: 20px;
}

.tarjeta-cultos img{
     width: 95%;
     height:auto;
     margin:auto;
     border-radius: 8px;
}

/* MAIN INICIO */
 .main-division{
     color: rgb(111, 43, 113);
     min-height: 400px;
     height:auto;
     /* width: 390px; */
     margin:auto;
 }

 .main-division h2{
     padding-top: 30px;
     padding-bottom: 30px;
     text-align: center;
 }

 .main-division h3{
     padding-top: 30px;
     text-align: center;
 }

 .main-division h4{
     text-align: center;
 }

 .main-division p{
     padding-bottom: 20px;
     text-align: center;
     font-size: 23px;
 }

 .main-division .tarjeta-fotos{
     margin-bottom: 15px;
     display:flex;
     flex-direction: column;
     justify-content: space-between;
     gap: 10px;
 }

 .main-division .tarjeta-fotos img{
     width: 95%;
     margin:auto;
     height:auto;
     border-radius: 8px;
 }
 
 /* FOOTER INICIO */
 .footer-division{
    background-color: rgb(104, 29, 29);
     padding: 25px;
     min-height: 200px;
     height:auto;
     text-align: center;
     color:rgb(252, 252, 254);
     font-family: 'Oswald', sans-serif;
     font-size: 14px;
    }

 /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

 @media screen and (min-width: 600px){
    .container{
        width: 600px;
    }
   
   /* HEADER INICIO */

   .encabezado{
        width:600px; 
    }


    .header{
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding: 25px;
    }

    .nombre{
       font-size: 30px;
       display:flex;
       flex-direction: column;
    }
    titulo{
       font-size: 28px;
    }
    direccion{
        font-size: 18px;
    }


    ul{
        display:flex;
        justify-content: space-around;
        padding-top: 7px;
        list-style: none;
    }
   
    a{
        color:white;
        font-size: 20px;
        text-decoration: none;
    }


   /* SIDE INICIO */

    .tarjeta-cultos{
       font-size: 22px;
   }

   .tarjeta-cultos img{
       width: 90%;
       margin:auto;
   }

   .side-division p{
       font-size: 25px;
   }

   .side-division h2{
        font-size: 35px;
   }

   /* MAIN INICIO */
    
   .main-division{
       width: 600px;
   }

    .main-division .tarjeta-fotos{
        gap:16px;
    }
   
 }