 *{
     margin: 0;
     padding: 0;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 body{
     min-height: 800px;
     height: auto;
 }

 .container{
     background-color: rgb(227, 202, 174);
     font-family: 'Oswald', sans-serif;
     width: 390px;
     height: auto;
     margin:auto;
 }

 .item-limite{
     border: 0.2px solid rgb(220, 219, 219);
 }

 .encabezado{
    position:fixed;
    width:390px; 
 }

 .header{
     background-color: rgb(69, 11, 11);
     display:flex;
     justify-content: space-between;
     align-items: center;
     padding: 25px;
     height: 90px;
 }

 .header .logo img{
     width: 70px;
     border-radius: 50%;
 }

 .nombre{
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
 }

 titulo{
    font-size: 20px;
    text-align: center;
 }
 
 direccion{
     font-size: 16px;
     text-align: center;
 }

 .navegacion{
     background-color: rgb(104, 29, 29);
     width:390px;
     margin:auto;
 }

 .navegacion ul{
     list-style: none;
 }

 .menu{
     display:flex;
     justify-content: space-around;
 }

 .menu > li{
     display: inline-block;
     position:relative;
     width: 20%;
     text-align: center;
 }

 .menu > li > a{
     text-decoration: none;
     display: block;
     padding:6px 12px;
     color:white;
 }

 .menu li a:hover{
    color:rgb(104, 29, 29);
    transition: all .3s ease;
 }

 .submenu{
    background-color: rgb(104, 29, 29);
    position: absolute;
    display: none;
    width: 100%;
 }

 .menu li:hover{
    background-color: rgb(227, 202, 174);
    border: 1px solid rgb(104, 20, 20);
    transition: all .3s ease;
 }

 .submenu li a{
    text-decoration: none;
    font-size: 14px;
    display: block;
    color:white;
    padding:8px;
    /* border-top: 1px solid white; */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

 }

 .menu li:hover .submenu{
    display: visible;
    display: block;
    transition: all .3s ease;
 }

 .fondo-blanco{
    background: white;
    color:rgb(45, 45, 92);
    width: 95%;
    margin:auto;
    margin-top:10px;
    padding:12px;
    border-radius: 13px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 }

 .side-division{
    height:auto;
    padding-top: 126px;
    padding-bottom: 8px;
    font-family: 'Oswald', sans-serif;
 }

 .side-division > h2{
     font-family: 'Oswald', sans-serif;
     color:white;
     text-align: center;
     font-size: 32px;
 }

 .side-division > p{
    color:white;
    text-align: center;
    font-size: 20px;
 }

 .tarjeta-plus{
     display:flex;
     flex-direction: column;
     justify-content: space-between;
     text-align: center;
     color:rgb(67, 67, 143);
     font-size: 18px;
     gap:10px;
 }

 .tarjeta-plus h2{
    font-family: 'Oswald', sans-serif;
     color: rgb(111, 43, 113);
     text-align: center;
     font-size: 30px;
 }
 .tarjeta-plus h3{
    font-family: 'Oswald', sans-serif;
     color: rgb(111, 43, 113);
     text-align: center;
     font-size: 30px;
 }

 .tarjeta-plus a{
    background-color: white;
    color:blue;
    text-decoration: none;
    padding: 6px;
    border-radius: 10px;
    font-size: 16px;
 }

 .tarjeta-plus img{
     border-radius: 8px;
     width: 100%;
     height:auto;
     margin:auto;
 }

 .sombra{
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
 }

 .ancho{
     width: 65%;
     padding:5px;
     margin:auto;
     text-align: center;
 }

 .pading{
     padding:10px;
 }

 .top-padding-extra{
     padding-top: 18px;
 }

 .aidelyn{
    background-color: white;
    /* border: 1px solid rgb(195, 195, 159); */
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    width: auto;
    min-width: 300px;
    font-size: 20px;
 }

 .lista-cumpleanos{
    width: 250px;
    margin:auto;
    font-size: 12px;
    text-align: justify;
 }
 
 .lista-cumpleanos-dos{
    width: 250px;
    margin:auto;
    font-size: 17px;
    text-align: justify;
 }

 .lista-cumpleanos-tres{
    width: 250px;
    margin:auto;
    font-size: 14px;
    text-align: justify;
 }

 .reducir-imagen1 img{
     width: 220px;
     text-align: center;
 }

 .reducir-imagen img{
     width: 150px;
     text-align: center;
 }

 .botones-juntos{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
 }

 .jovenes-lideres{
     display:flex;
     gap:10px;
     justify-content: space-around;
     flex-wrap: wrap;
 }

 .jovenes-lideres img{
     width: 100px; 
 }

 .jovenes-team{
     display:flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
 }

 .barcode img{
    width: 150px;
 }

 .footer-division{
    background-color: rgb(104, 29, 29);
     padding: 12px;
     height:auto;
     text-align: center;
     color:rgb(252, 252, 254);
     font-family: sans-serif;
     font-size: 10px;
 }

 .flex-footer{
    padding:3px;
    font-size: 8px;
    display:flex;
    justify-content: space-between;
    align-items: center;
 }

.logo-footer img{
    border-radius:50%;
    width: 40px;
 }

 .contador a{
    color:white;
    text-decoration: none;
 }

 .espacio{
    padding:8px;
}
 .espacioPequeno{
    padding:1px;
    text-align: left;
}
.multipleImagen{
    margin:auto;
    padding: 10px;
    width: 350px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
}

.lados{
    padding: 0px 20px;
}

.menores{
    border:1px solid rgb(202, 192, 222);
    border-radius: 10px;
    text-align: left;
    padding: 12px;
}
.menoresCentro{
    border:1px solid rgb(202, 192, 222);
    border-radius: 10px;
    text-align: center;
    padding: 8px 12px;
    margin:auto;
    min-width: 250px;
}
.menoresCentro p{
    padding-bottom: 2px;
}
.menoresCentro a{
    text-decoration:underline;
}

 @media screen and (min-width: 700px){
    .container{
        width: 700px;
    }
   
   .encabezado{
        width:700px; 
    }

    .header{
        justify-content: space-around;
    }

    .nombre{
       font-size: 30px;
    }

    titulo{
       font-size: 28px;
    }
    direccion{
        font-size: 18px;
    }

    .navegacion{
        width: 700px;
    }

    .menu > li{
        width: 20%;
        font-size: 20px;
    }

    .menu li:hover{
        transition: all .3s ease;
        font-size: 20px;
    }

    .submenu li a{
        font-size: 18px;
    }

   .side-division{
        padding-top: 135px;
        padding-bottom: 12px;
    }

   .side-division p{
       font-size: 25px;
    }

   .side-division h2{
        font-size: 35px;
    }

   .tarjeta-plus{
        font-size: 22px;
    }

    .tarjeta-plus img{
        width: 100%;
        margin:auto;
    }

    .reducir-imagen1 img{
        width: 400px;
        text-align: center;
    }
     .reducir-imagen img{
        width: 300px;
        text-align: center;
    } 
   
    .jovenes-lideres img{
        width: 120px; 
    }

    .jovenes-lideres h2{
        font-size: 66px;
        margin: auto;
    }
   
    .barcode img{
        width: 230px;
    }

    .lista-cumpleanos{
        font-size: 20px;
    }

    .lista-cumpleanos-dos{
        font-size: 25px;
     }

    .lista-cumpleanos-tres{
        font-size: 25px;
     }

    .cajas-flex{
        gap: 10px;
        justify-content: space-between;
        align-items: center;
    }

    .cajonaso{
        font-size: 25px;
        padding:15px;
     }

    .flex-footer{
        padding:10px;
        font-size: 14px;
        justify-content: space-around;
    }

    .logo-footer img{
        border-radius: 50%;
        width: 80px;
    }

    .aidelyn{
        padding: 20px;
        width: auto;
        min-width: 500px;
        font-size: 20px;
     }
     .menoresCentro{
        padding: 8px 12px;
        margin:auto;
        min-width: 350px;
    }
     .menores{
         width: 65%;
         margin:auto;
     }
     .multipleImagen{
        width: 550px;
    }
 }