 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body{
     min-height: 1000px;
     height: 2000px;
 }


 .container{
     background-color: rgb(227, 202, 174);
     width: 390px;
     height: auto;
     margin:auto;
     font-family: 'Oswald', sans-serif;
 }

 /* Este hace la linea blanca divisisoria de item */
 .item{
     border: 0.2px solid rgb(220, 219, 219);
 }
 /* Termina item todos hacen la rallita */

/* HEADER INICIO */
.encabezado{
    position:fixed;
    width:390px; 
}

 .header{
     background-color: rgb(69, 11, 11);
     height: 90px;
     display:flex;
     justify-content: space-between;
     align-items: center;
     padding: 25px;
 }
 .header .logo img{
     width: 70px;
     border-radius: 50%;
 }
 .nombre{
    color:white;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
 }
 titulo{
    font-size: 21px;
    text-align: center;
 }
 direccion{
     font-size: 16px;
     text-align: center;
 }

 .navbar{
     background-color: rgb(104, 29, 29);
     height: 50px;
 }

 ul{
     display:flex;
     justify-content: space-around;
     padding-top: 12px;
     list-style: none;
 }

 a{
     color:white;
     text-decoration: none;
 }

 /* .navbar ul li a:hover{
    color:rgb(25, 111, 192);
    font-size: 18px;
    transition: 0.5s ease;
    text-transform: uppercase;
} */
/* Termina Header y Navbar con encabezado */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* Comienza side con cultos dentro */

.side{
    min-height: 200px;
    height:auto;
    padding-top: 160px;
    font-family: 'Oswald', sans-serif;
}

 .side h2{
     text-align: center;
     color: rgb(111, 43, 113);
     padding-top: 20px;
     font-family: 'Oswald', sans-serif;
     font-size: 30px;
    }
 .side p{
    color: rgb(147, 68, 150);
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
}

.blanco{
    background-color: white;
    width: 95%;
    margin:auto;
    margin-bottom: 30px;
    margin-top: 20px;
    padding:40px;
    border-radius: 13px;
    color:rgb(45, 45, 92);
    font-family: sans-serif;
}

 .cultos{
    font-size: 20px;
    text-align: center;
}
 .cultos h4{
    color:rgb(186, 55, 55);
}

.cultos a{
    color: white;
    background-color: rgb(37, 37, 34);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid red;
}

.cultos .aidelyn{
    background-color: beige;
    border: 1px solid red;
    padding: 5px;
    width: 75%;
    border-radius: 10px;
    margin: auto;
}

.cultos img{
    width: 100%;
     height:auto;
     border-radius: 8px;
}

/* MAIN INICIO */
 .main{
     min-height: 400px;
     height:auto;
     padding: 20px;
 }

 .main h3{
     text-align: center;
     color: rgb(111, 43, 113);
     padding-bottom: 30px;
 }

 .main .fotos{
     display:flex;
     flex-direction: column;
     justify-content: space-between;
     gap: 20px;
 }

 .main .fotos img{
     width: 100%;
     height:auto;
     border-radius: 8px;

 }
 
 /* FOOTER INICIO */
 .footer{
    background-color: rgb(104, 29, 29);
     padding: 25px;
     min-height: 200px;
     height:auto;
     text-align: center;
     color:rgb(252, 252, 254);
     font-family: 'Oswald', sans-serif;
    }

 /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
 /* AQUI COMIENZA LA REPETICION DEL CODIGO 2 */

 @media screen and (min-width: 600px){
    .container{
        background-color: rgb(227, 202, 174);
        width: 600px;
        height: auto;
        margin:auto;
    }
   
    .item{
        border: 0.2px solid rgb(220, 219, 219);
    }
   
   /* HEADER INICIO */

   .encabezado{
    position:fixed;
    width:600px; 
}

    .header{
        background-color: rgb(69, 11, 11);
        height: 90px;
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding: 25px;
    }
    .header .logo img{
        width: 70px;
        border-radius: 50%;
    }
    .nombre{
       color:white;
       font-size: 20px;
       display:flex;
       flex-direction: column;
       justify-content: space-between;
    }
    titulo{
       font-size: 21px;
       text-align: center;
    }
    direccion{
        font-size: 16px;
        text-align: center;
    }
   
    .navbar{
        background-color: rgb(104, 29, 29);
        height: 50px;
    }
   
    ul{
        display:flex;
        justify-content: space-around;
        padding-top: 12px;
        list-style: none;
    }
   
    a{
        color:white;
        text-decoration: none;
    }
   
   /* SIDE INICIO */
   .side{
       min-height: 200px;
       height:auto;
       padding-top: 160px;
       font-family: 'Oswald', sans-serif;
    }
   
    .side h2{
       text-align: center;
        color: rgb(111, 43, 113);
        padding-top: 20px
       }

    .side p{
       color: rgb(147, 68, 150);
       text-align: center;
       padding-bottom: 20px;
       font-size: 20px;
   }
   
    .cultos{
       margin-top: 20px;
       padding:50px;
       text-align: center;
       font-size: 22px;
   }
    .cultos h4{
       color:rgb(186, 55, 55);
   }

   .cultos .aidelyn{
    background-color: beige;
    border: 1px solid red;
    padding: 5px;
    width: 75%;
    border-radius: 10px;
    margin: auto;
}
   
   .cultos img{
       width: 100%;
        height:auto;
        border-radius: 8px;
   }
   
   /* MAIN INICIO */
    .main{
        min-height: 400px;
        height:auto;
        padding: 20px;
    }
   
    .main h3{
        text-align: center;
        color: rgb(111, 43, 113);
        padding-bottom: 40px;
    }
   
    .main .fotos{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        gap:30px;
    }
   
    .main .fotos img{
        width: 100%;
        height:auto;
        border-radius: 8px;
    }

    /* FOOTER INICIO */
    .footer{
       background-color: rgb(104, 29, 29);
        padding: 25px;
        min-height: 200px;
        height:auto;
        text-align: center;
        color:rgb(252, 252, 254);
        font-family: 'Roboto', sans-serif;
    }
 }